<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>Press any Key for Fire!</h1>
  <div class="clearfix"></div>
  <div class="col-12 row">
    <div class="col-6 battlefield-wrap">
      <div class="battlefield row" *ngFor="let row of gameBoard; let i = index">
        <div class="cords">{{cords[i]}}</div>
        <div class="float-left col" *ngFor="let col of row; let index = index" [ngClass]="{'has-ship': col == 1, 'miss': col == 2, 'hit': col == 3}">
            <div class="cords absolute" *ngIf="i == 0">{{index+1}}</div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h2>Fight Log</h2>
      <div class="col-12 fight-log">
        <div *ngFor="let hit of gameLog">{{ hit.target }}: {{ hit.status }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="gameOver" class="col-12 row">
    <h1 class="col-12 col text-center">Game Over!</h1>
    <button (click)="restart()">Restart</button>
  </div>
</div>